<!-- header.component.html -->
<header class="app-header">
  <nav class="nav-container">
    <div class="nav-links">
      <button class="btn" routerLink="/home">Home</button>
      <button class="btn" routerLink="/cust-apply">apply</button>
      <button class="btn" routerLink="/about">About</button>
      <button class="btn" routerLink="/contact">Contact</button>
      <button class="btn" routerLink="/page1">page1</button>
      <button class="btn" routerLink="/page2">page2</button>
    </div>
  </nav>
    <button mat-icon-button class="settings-btn"  (click)="toggleSlider()" aria-label="Toggle Settings">
      <mat-icon>{{ this.slider?.visible ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
    <app-settings #slider></app-settings> <!-- Needs to be in the same template -->
</header>

  
  
